adafruit-circuitpython-ads1x15==2.2.24
adafruit-circuitpython-si7021==4.1.10
adafruit-circuitpython-ssd1306==2.12.15

pyzbar==0.1.9
Pillow==9.0.1
picamera==1.13

Flask==1.1.2
Flask-SocketIO==4.3.2
eventlet==0.33.3
