# Sensors
adafruit-circuitpython-ads1x15==2.4.1
adafruit-circuitpython-si7021==4.1.12

# Web server
Flask==3.0.3

# Configuration
pydantic==2.8.2
pydantic-settings==2.4.0

# Remote reporting
ha-mqtt-discoverable==0.16.0
requests==2.32.3
