[Unit]
Description=thermometer-webapp

[Service]
ExecStart=/home/pi/venv/bin/python /home/pi/server/web.py
WorkingDirectory=/home/pi/server
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target